.main-content{
    display:flex;
    background-color: rgb(27, 27, 27);
}
.profile-container {
    padding: 70px;
    color: white;
}

.pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vh;
    height: 50vh;
}

.pic-text {
    text-align: center;
}

.pic-text h2 {
    color:darkred;
    font-weight: bold;
}

.pic-text p {
    font-weight: 450;
}