.bot-container {
    display: flex;
    justify-content: center;
    background-color: rgb(27, 27, 27);
    font-size: 57px;
}

.icon {
    padding-bottom: 4vh;
    cursor: pointer;
}

.icon a{
    color: rgb(17, 17, 172);
    padding: 10px 10px 10px 10px;
}
