.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: darkred;
    background-color: black; 
    height: 5vh;
}

.footer p {
    margin: 0%;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 2vh;
    font-weight: 700;
}