.cover {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 40px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 50vh;
}

.cover::after {
    content: "";
    background-image: url(./blkiron.png);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; 
}
  
  
.cover h1 {
    margin: 0%;
    color: darkred;
    font-weight: bold;
    
}

.cover p{
    margin: 0%;
    color: white;
    width: 130vh;
    font-weight: 500;
    
}