.navbar-container {
    display: flex;
    justify-content: space-between;
    padding-left: 10vh;
    color: darkred;
    background-color: black; 
    height: 10vh;
    font-size: 2.5vh;
    font-weight: 700;
}